<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>The Magic 8 Ball</title>
    <script language="Javascript" type="text/javascript" src ="/lauratech/js/magic.js"></script>
</head>
<body bgcolor="#FFFFFF">
<h2>Press the button to shake the Magic 8 Ball.</h2>
<form action="#">
    <span id="answer" name="answer" class="answer">...</span><br />
    <input type="button" value="Shake Magic 8 Ball" id="calculator" />
</form>
</body>
</html>
