<script language="Javascript" type="text/javascript" src="/lauratech/js/nim.js"></script>
<p>
</p>
<span class="date">Saturday, June 25, 2011</span>
<br />
<span class="title">About Nim</span>
<p>
Nim is a game.  You and another player take turns removing 1 to all of the matchsticks from any row.  The loser is the person who removes the last matchstick.
</p>
<span class="title">Gameboard</span>
<span id="gameboard" name="gameboard" class="gameboard">...</span>
<br />
<span class="title">Gameplay</span>
<span id="console" name="console" class="console">
    <form action="#">
        Would you like to play:
        <p>
        <input type="button" value="2 Player -- You vs. Another User" id="twoplayer" />
        </p>
        <p>
        <input type="button" value="1 player -- You vs. Easy-level computer" id="easycomputer" />
        </p>
        <p>
        <input type="button" value="1 player -- You vs. Medium-level computer" id="mediumcomputer" />
        </p>
        <p>
        <input type="button" value="1 player -- You vs. Difficult-level computer" id="difficultcomputer" />
        </p>
    </form>
</span>
